#main {
  display: flex;
  height: 95vh;
}

.side {
  width: 20%;
  border-right: 1px solid black;
}

.side .side-tab {
  height: 12vh;
  position: relative;
  border-bottom: 1px solid black;
}

.side .side-tab:nth-child(n + 2) {
  cursor: pointer;
}

.side .side-tab:nth-child(n + 2):hover {
  background-color: #e6e6fa;
}

.side .side-tab p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.side .side-tab:nth-child(1) p {
  width: 80%;
}

.side .side-tab p span {
  display: block;
  text-align: center;
  padding: 5px;
}

.side .side-tab p .achiveRateMonth {
  display: inline-block;
}

.side .side-tab .achiveGraph {
  height: 20px;
  width: 100%;
  border-radius: 30px;
  text-align: center;
  border: 1px solid black;
  padding: 0px;
}

.side .side-tab .achiveGraph > span {
  height: 100%;
  width: 0%;
  background-color: #87cefa;
  padding: 0px;
  border-radius: 30px;
}

.overlay {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#content {
  z-index:2;
  width:70%;
  height: 80%;
  background:#fff;
}

#content2 {
  z-index:2;
  width:95%;
  height: 95%;
  background:#fff;
}

.overlay-content-title {
  height: 6%;
  background-color: #f5f5dc;
  position: relative;
}

.overlay-content-title p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
}

.overlay-content-title span.modalClose {
  position: absolute;
  top: -80%;
  right: -2%;
  font-weight: bold;
  font-size: 60px;
  cursor: pointer;
}

.overlay-content-wrapper {
  height: 94%;
  position: relative;
  overflow-y: scroll;
}

.overlay-content-wrapper-register {
  height: 15%;
  display: flex;
}

.overlay-content-wrapper-register-left {
  width: 90%;
}

.overlay-content-wrapper-register-left input {
  width: 98%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 3px;
  border: 2px solid #ddd;
  box-sizing: border-box;
  margin: 20px;
}

.overlay-content-wrapper-register-right {
  width: 10%;
}

.overlay-content-wrapper-register-right button {
  display: block;
  padding: 10px 15px;
  margin: 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #e6e6fa;
  cursor: pointer;
}

.overlay-content-wrapper-register-right button:hover {
  opacity: 0.5;
}

.overlay-content-wrapper-list {
  height: 80%;
  overflow-y: scroll;
}

.overlay-content-wrapper-list2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 95%;
  width: 95%;
  overflow: scroll;
  margin: 0 auto;
}

.fa-trash-alt:hover {
  opacity: 0.5;
}

.fa-edit:hover {
  opacity: 0.5;
}

#olElement {
  width: 90%;
  font-size: 30px;
  margin: 0 auto;
}

.olElement2 {
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
}

.olElement3 {
  width: 100%;
  font-size: 20px;
  margin: 0 auto;
}

#olElement td {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
  height: 5%;
}

#olElement td:nth-child(1) {
  width: 5%;
}

#olElement td:nth-child(2) {
  text-align: left;
}

#olElement td:nth-child(3) {
  width: 7%;
}

#olElement td:nth-child(4) {
  width: 7%;
}

.olElement2 td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 30px;
  word-break: break-all;
}

.olElement3 td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px 30px;
}

.olElement2 thead {
  background-color: #f5f5f5;
}

.olElement3 thead {
  background-color: #f5f5f5;
}

#olElement td:nth-child(1) {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

#olElement td:nth-child(2) {
  padding-left: 10px;
  word-break: break-all;
  word-wrap: break-word;
}

#olElement td:nth-child(3), #olElement td:nth-child(4) {
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.main {
  width: 80%;
}

.calendar-head {
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.calendar-head-left {
  margin-top: 60px;
  margin-left: 50px;
}

.calendar-head-left > button {
  height: 50px;
  width: 100px;
  border-radius: 50%;
  background-color: #afeeee;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.calendar-head-left > button:hover {
  opacity: 0.5;
}

.calendar-head-center {
  margin-top: 40px;
  font-size: 25px;
  font-weight: bold;
}

.calendar-title {
  border-bottom: 3px double black;
}

.calendar-head-right {
  margin-top: 60px;
  margin-right: 50px;
}

.calendar-head-right > button {
  height: 50px;
  width: 100px;
  border-radius: 50%;
  background-color: #afeeee;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.calendar-head-right > button:hover {
  opacity: 0.5;
}

.calendar-content {
  height: 90%;
  position: relative;
}

.calendar-content-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
}

.calendar-content-wrapper table th {
  padding: 10px 70px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #f0f8ff;
}

.calendar-content-wrapper table .calendar-date-td {
  height: 100px;
  width: 5%;
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 25px;
  cursor: pointer;
}

.calendar-content-wrapper table td[data-year]:hover {
  opacity: 0.3;
}

.calendar-content-wrapper table td span {
  font-size: 14px;
}

.currentDateColor {
  background-color: rgb(255, 255, 107);
}

.SundayColor {
  background-color: #fff0f5;
}

.SaturDayColor {
  background-color: #f0ffff;
}

.publicHoliday {
  background-color: #ffe4b5;
}

.calendar-content-wrapper table .nextMonthDateColor, .calendar-content-wrapper table .beforeMonthDateColor {
  background-color: #DEDEDE;
  cursor: default;
}

.calendar-text-color {
  color: red;
}

.hidden {
  display: none;
}

.overlay-content-wrapper-table {
  overflow-y: scroll;
}

/* 習慣チェックモーダルのスタイリング  */

#tableElement {
  width: 90%;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 10px;
  table-layout: fixed;
}

#tableElement td,#tableElement th {
  border: 1px solid black;
  border-collapse: collapse;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  vertical-align: middle;
}

#tableElement .habit-check-modal-no-th {
  width: 7%;
}

#tableElement .habit-check-modal-item-td {
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  word-break: break-all;
}

#tableElement .habit-check-modal-radio-th {
  width: 5%;
}

#tableElement thead {
  background-color: #f5f5f5;
}

.overlay-content-wrapper-check {
  display: flex;
  justify-content: center;
  padding: 5%;
}

.overlay-content-wrapper-check button {
  display: inline-block;
  height: 50px;
  width: 150px;
  background-color: #e6e6fa;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
}

.overlay-content-wrapper-check button:hover {
  opacity: 0.5;
}

/* 習慣チェックモーダルで登録ボタン押下時のエラーメッセージのスタイル */
.modalError {
  color: red;
  text-align: center;
  font-size: 25px;
  padding: 10px;
}

/* 目標管理モーダルのスタイリング */
.editAchiveNumButton {
  cursor: pointer;
  font-size: 13px;
  margin-left: 15px;
  padding: 5px;
  background-color: #e6e6fa;
  border-radius: 5px;
}

.editAchiveNumButton:hover {
  opacity: 0.5;
}

.achiveNumInput {
  font-size: 20px;
  width: 30px;
}

.olElement2 {
  width: 100%;
}

.olElement3 {
  width: 100%;
}

.olElement2 td {
  vertical-align: middle;
}

.olElement3 td {
  vertical-align: middle;
}

.olElement2 thead td {
  text-align: center;
  font-weight: bold;
}

.olElement3 thead td {
  text-align: center;
  font-weight: bold;
}

.achive-manage-no-td {
  text-align: center;
  width: 7%;
}

.achive-manage-index-td {
  text-align: center;
  width: 13%;
}

.achive-manage-rate-td {
  text-align: center;
  width: 13%;
}

.achive-manage-index-title {
  height: 100px;
  width: 100%;
  margin-top: 50px;
  position: relative;
  border-top: 3px double black;
}

.achive-manage-index-title > div {
  font-weight: bold;
  font-size: 30px;
  border-bottom: 3px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 習慣履歴テーブルのスタイリング */
.olElement3 {
  table-layout: fixed;
}

.olElement3 .habit-history-table-no-td {
  width: 30px;
  text-align: center;
}

.olElement3 .habit-history-table-item-td {
  width: 600px;
  word-break: break-all;
}

.olElement3 .habit-history-table-index-td {
  width: 80px;
  text-align: center;
}

.olElement3 .habit-history-table-date-td {
  width: 50px;
  text-align: center;
} 

/* 目標管理モーダル達成指標テーブルの上部についてのスタイリング */
.manage-achive-area-title {
  font-size: 30px;
  text-align: left;
  margin-bottom: 20px;
}

.manage-achive-area-title > span {
  border-bottom: 3px solid black;
}

.manage-achive-area-text {
  text-align: left;
  font-size: 25px;
  margin-bottom: 10px;
}

.manage-achive-area-text > input {
  font-size: 25px;
  display: inline-block;
  width: 99%;
  height: 25px;
}

.manage-achive-area-button {
  text-align: right;
  margin-bottom: 10px;
}

.manage-achive-area-button > button {
  font-size: 16px;
  width: 50px;
  border-radius: 5px;
  background-color: #f0f8ff;
  cursor: pointer;
}

.manage-achive-area-button > button:hover {
  opacity: 0.5;
}